@import "node_modules/materialize-css/sass/materialize.scss";

$primary-color: #4090db;
$secondary-color: #409fff;
$facebook-color: #3b5998;

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value};
    }
  }
  #{$property}: #{$value};
}


* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.main-container { margin: 20px auto; }

.iphone{
  padding-top: 50px;
  max-width: 100%;
}

.card{
  .avatar{
    max-width: 35px;
    border-radius: 50%;
    float:left;
    margin-right: 10px;
    border: $primary-color solid 2px;
  }

  small.time { line-height: 30px; }

  i { margin-right: 15px; }

  .username {
    color: $primary-color;
    font-size: 0.8em;
  }
}

.header{
  width: 100%;
  background-color: #FFF;
  margin-bottom: 10px;
  .fa{ color: #333; }
  .btn{ height: 100%; }
  #drop-user{ width: 200px !important; }
}
li a { color: $primary-color !important; }

.site-footer {
  text-transform: uppercase;
  font-size: 12px;
  width:100%;
  height: 20px;
}

.emagram{
  font-family: 'Oleo Script', cursive;
  font-size: 6em;
  color: $primary-color !important;
}

.box {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  padding: 10px 0;
  text-align: center;
}

.signup-form {
  width: 65%;
  margin: 0 auto;
}

.fa-heart{
  font-size: 1.5em;
  margin-left: 5px;
  color: red;
}

.fa-heart-o{
  font-size: 1.5em;
  margin-left: 5px;
}

.card {
  .fa-heart-o { display: block; }
  .fa-heart { display: none; }
}

.card.liked {
  .fa-heart-o { display: none; }
  .fa-heart { display: inline;; }
}

.signup-form h2 {
  color: #a5a7aa;
  font-size: 1.2em;
}

.signup-form .btn.btn-fb {
  background-color: $facebook-color;
  font-size: .8em;
  i { font-size: 1.2em; }
}

.btn.btn-fb {
  background-color: $facebook-color;
  color: #FFF !important;
}

.btn.btn-blue {
  background-color: $primary-color;
  &:hover { background-color: $secondary-color; }
}

.form-upload {
  span, button { color: white; }
  .fileUpload {
    background-color: $primary-color;
    &:hover { background-color: $secondary-color; }
    position: relative;
    overflow: hidden;
    margin: 10px;
    input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
}

.user-page {
  margin-top: 30px;
  .heading {
    margin-bottom: 20px;
  }
  .avatar { border: $primary-color solid 5px; }
  .picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    &:hover {
      .picture {
        @include prefix(filter, blur(5px) grayscale(100%));
      }
      .likes {
        display: flex;
      }
    }
    .picture {
      margin-bottom: 20px;
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    .likes {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      display: none;
      justify-content: center;
      align-items: center;
      color: red;
      font-size: 34px;
      display: none
    }
    .fa-heart {
      margin-right: 8px;
      display: inline-block;
    }
  }
}

#loader {
  height: 80%;
  width: 100%;
}

.modal {
  z-index: 101;

  img {
    max-height: 100%;
    max-width: 90%;
  }

  .fa-heart {
    display: inline-block;
  }
}

.like-heart {
  font-size: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  transition: all .1s ease;
  opacity: 0;
}

.like-heart.liked {
  color: red;
  font-size: 12em;
  display: block;
  transition: all .5s ease;
  opacity: 1;
}

.smoking {
  z-index: 100;
  background-color: #fafafa;
  height: 100%;
  width: 100%;
}
